<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>



<table>
  <thead>
    <th><%= link_to "Sort by Title", movies_path(sort: "title", direction: toggle("title")) %></th>
    <th><%= link_to "Sort by Rating", movies_path(sort: "rating", direction: toggle("rating")) %></th>
    <th><%= link_to "Sort by Release Date", movies_path(sort: "release_date", direction: toggle("release_date")) %></th>
  </thead>


  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
      </tr>
    <% end %>
  </tbody>

</table>


<%= link_to "Add New Movie", new_movie_path(sort: params[:sort],  direction: params[:direction]), class: "button" %>
