<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>



<table>
  <thead>
    <tr>
      <th class="<%= highlight_column('title') %>">
        <%= link_to "Title", movies_path(sort: "title", direction: toggle("title")) %>
        <%= sort_indicator('title') %>
      </th>
      <th class="<%= highlight_column('rating') %>">
        <%= link_to "Rating", movies_path(sort: "rating", direction: toggle("rating")) %>
        <%= sort_indicator('rating') %>
      </th>
      <th class="<%= highlight_column('release_date') %>">
        <%= link_to "Release Date", movies_path(sort: "release_date", direction: toggle("release_date")) %>
        <%= sort_indicator('release_date') %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td class="<%= 'highlight' if @sort_column == 'title' %>"><%= link_to movie.title, movie %></td>
        <td class="<%= 'highlight' if @sort_column == 'rating' %>"><%= movie.rating %></td>
        <td class="<%= 'highlight' if @sort_column == 'release_date' %>"><%= movie.release_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<%= link_to "Add New Movie", new_movie_path(sort: params[:sort],  direction: params[:direction]), class: "button" %>
